body {
  font-family: 'Open Sans', sans-serif;
}

.enter {
  background-color: #455A64;
  position: fixed;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 25vh 0;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  font-size: 6vh;
  font-weight: 800;
  margin-bottom: 5%;
}

input {
  display: block;
  width: 80%;
  height: 8%;
  margin: auto;
  margin-bottom: 5%;
  font-size: 100%;
}

.logo {
  height: 10%;
  width: 10%;
}

.save {
  background-color: #FFC107;
  color: #FFFFFF;
  font-size: 100%;
  width: 80%;
  height: 5%;
}

.bookmark {
  background-color: #CFD8DC;
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
}

h2, h3 {
  border-bottom: 1px solid #CFD8DC;
  text-align: center;
  padding: 10px;
  width: 85%;
  margin: auto;
}

h2 {
  color: #455A64
}

h3 {
  color: #607D8B;
}
